<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<h1>Подтсверждение электронной почты для {{ username }}</h1>
Перейдите по ссылке для подтверждения электронной
почты: {{ url_for('accounts.verify_email_current_user', token=token, _external=True) }}
</body>
</html>