<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Вход</title>

    <!-- Custom fonts for this template-->

    <link href="../../../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../../../static/css/main.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../../../static/js/login.js"></script>

</head>

<body class="bg-gradient-primary">

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Добро пожаловать!</h1>
                                </div>
                                <form class="user" id='form1' method="post">
                                    {{ form.csrf_token() }}
                                    <div id="warning"></div>
                                    <div class="form-group">
                                        {{ form.username(class="form-control form-control-user", placeholder="Логин") }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.password(class="form-control form-control-user", placeholder="Пароль") }}
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox small">
                                            {{ form.remember_me(class="custom-control-input") }}
                                            {{ form.remember_me.label(class="custom-control-label") }}
                                        </div>
                                    </div>
                                    {{ form.submit(class="btn btn-primary btn-user btn-block") }}
                                    <hr>
                                    <a href="../../../welcome/templates/welcome/main_page.html"
                                       class="btn btn-google btn-user btn-block">
                                        <i class="fab fa-google fa-fw"></i> Войти с Google
                                    </a>
                                    <a href="../../../welcome/templates/welcome/main_page.html"
                                       class="btn btn-facebook btn-user btn-block">
                                        <i class="fab fa-facebook-f fa-fw"></i> Войти с Facebook
                                    </a>
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="forgot-password.html">Забыли пароль?</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" href="{{ url_for('accounts.register') }}">Создать аккаунт</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
<!-- Bootstrap core JavaScript-->
<script src="../../../static/vendor/jquery/jquery.min.js"></script>
<script src="../../../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../../../static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="../../../static/js/sb-admin-2.min.js"></script>

</body>

</html>