{% extends 'order_manager/base.html' %}
{% block header %}
    <title>Orders</title>
{% endblock %}
{% block content %}
    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">Заказы в поиске исполнителя</h1>
    </div>
    <div class="card">
        <div class="card-body">
            {% for order in orders.items %}
                <h4 class="card-title">{{ order.name }}</h4>
                <h6 class="card-text">Заказчик: <a
                        href="{{ url_for('order_manager.user_profile', user_id=order.customer_id) }}">{{ order.customer.username }}</a>
                </h6>
                <p class="card-text">Описание заказа:</p>
                <p class="card-text">Цена: {{ order.price }} рублей</p>
                <a href="{{ url_for('order_manager.order_page', order_id=order.id) }}"
                   class="btn btn-primary">Перейти</a>
                <hr>
            {% endfor %}
        </div>
    </div>
    <!-- Пагинация -->
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item">
                {% if orders.has_prev %}
                    <a class="page-link"
                       href="{{ url_for('order_manager.all_orders', spec_id=current_spec_id, page = orders.prev_num) }}">Назад</a>
                {% else %}
                    <a class="page-link" aria-disabled="true">Назад</a>
                {% endif %}
            </li>
            {% for i in range(1, count + 1) %}
                {% if i != cur_page %}
                    <li class="page-item">
                        <a href="{{ url_for('order_manager.all_orders', spec_id=current_spec_id, page = i) }}"
                           class="page-link">{{ i }}</a>
                    </li>
                {% else %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            <li class="page-item">
                {% if orders.has_next %}
                    <a class="page-link"
                       href="{{ url_for('order_manager.all_orders', spec_id=current_spec_id, page = orders.next_num) }}">Вперед</a>
                {% else %}
                    <a class="page-link" aria-disabled="true">Вперед</a>
                {% endif %}
            </li>

        </ul>
    </nav>
{% endblock %}
