{% extends 'order_manager/base.html' %}

{% block header %}
    <title>Баланс</title>
{% endblock %}

{% block content %}
    <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-12 d-none"></div>
                        <div class="col-lg-12">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Пополнение счета</h1>
                                </div>
                                <form class="user" method="post" enctype="multipart/form-data">
                                    {{ form.csrf_token() }}
                                    <!-- Название работы -->
                                    <div class="form-group">
                                        {{ form.refill.label() }}
                                        {{ form.refill(class="form-control-user") }}
                                        {{ form.submit(class="btn btn-primary btn-user") }}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
{% endblock %}
