{% extends 'order_manager/base.html' %}
{% block header %}
    <title>Изменение почты</title>
{% endblock %}
{% block content %}
    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-12 d-none"></div>
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Изменение почты</h1>
                                    </div>
                                    <form class="user" method="post">
                                        {{ form.csrf_token }}
                                        <div class="form-group">
                                            {{ form.email(class="form-control form-control-user", placeholder="Введите новую почту") }}
                                        </div>
                                        {{ form.submit(class="btn btn-primary btn-user btn-block") }}
                                    </form>
                                    <br>
                                    <a class="nav-link" href="{{ url_for('order_manager.preferences') }}">Назад</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
{% endblock %}
