{% extends 'order_manager/base.html' %}
{% block header %}
    <title>MyOrders</title>
{% endblock %}

{% block content %}
    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">Мои заказы</h1>
    </div>
    <nav class="nav nav-pills nav-justified">
        {% if status == 'Опубликовано' %}
            <a class="nav-link active" aria-current="page"
               href="{{ url_for('order_manager.my_orders', status='Опубликовано', page=1) }}">Опубликовано</a>
            <a class="nav-link" href="{{ url_for('order_manager.my_orders', status='На выполнении', page=1) }}">На
                выполнении</a>
            <a class="nav-link"
               href="{{ url_for('order_manager.my_orders', status='На проверке', page=1) }}">На проверке</a>
            <a class="nav-link"
               href="{{ url_for('order_manager.my_orders', status='Выполнено', page=1) }}">Выполнено</a>
        {% elif status == 'На проверке' %}
            <a class="nav-link"
               href="{{ url_for('order_manager.my_orders', status='Опубликовано', page=1) }}">Опубликовано</a>
            <a class="nav-link" aria-current="page"
               href="{{ url_for('order_manager.my_orders', status='На выполнении', page=1) }}">На
                выполнении</a>
            <a class="nav-link active"
               href="{{ url_for('order_manager.my_orders', status='На проверке', page=1) }}">На проверке</a>
            <a class="nav-link"
               href="{{ url_for('order_manager.my_orders', status='Выполнено', page=1) }}">Выполнено</a>
        {% elif status == 'На выполнении' %}
            <a class="nav-link"
               href="{{ url_for('order_manager.my_orders', status='Опубликовано', page=1) }}">Опубликовано</a>
            <a class="nav-link active" aria-current="page"
               href="{{ url_for('order_manager.my_orders', status='На выполнении', page=1) }}">На
                выполнении</a>
            <a class="nav-link"
               href="{{ url_for('order_manager.my_orders', status='На проверке', page=1) }}">На проверке</a>
            <a class="nav-link"
               href="{{ url_for('order_manager.my_orders', status='Выполнено', page=1) }}">Выполнено</a>
        {% else %}
            <a class="nav-link"
               href="{{ url_for('order_manager.my_orders', status='Опубликовано', page=1) }}">Опубликовано</a>
            <a class="nav-link"
               href="{{ url_for('order_manager.my_orders', status='На выполнении', page=1) }}">На
                выполнении</a>
            <a class="nav-link"
               href="{{ url_for('order_manager.my_orders', status='На проверке', page=1) }}">На проверке</a>
            <a class="nav-link active" aria-current="page"
               href="{{ url_for('order_manager.my_orders', status='Выполнено', page=1) }}">Выполнено</a>
        {% endif %}
    </nav>
    <div class="card">
        <div class="card-body">
            {% for order in orders.items %}
                <h4 class="card-title">{{ order.name }}</h4>
                <p class="card-text">Описание заказа:</p>
                <p class="card-text">Статус: {{ order.status }}</p>
                <p class="card-text">Цена: {{ order.price }} рублей</p>
                <a href="{{ url_for('order_manager.order_page', order_id=order.id) }}"
                   class="btn btn-primary">Перейти</a>
                <hr>
            {% endfor %}
        </div>
    </div>
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item">
                {% if orders.has_prev %}
                    <a class="page-link"
                       href="{{ url_for('order_manager.my_orders', status=status, page = orders.prev_num) }}">Назад</a>
                {% else %}
                    <a class="page-link" aria-disabled="true">Назад</a>
                {% endif %}
            </li>
            {% for i in range(1, count + 1) %}
                {% if i != cur_page %}
                    <li class="page-item">
                        <a href="{{ url_for('order_manager.my_orders', status=status, page = i) }}"
                           class="page-link">{{ i }}</a>
                    </li>
                {% else %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a>
                    </li>
                {% endif %}
            {% endfor %}
            <li class="page-item">
                {% if orders.has_next %}
                    <a class="page-link"
                       href="{{ url_for('order_manager.my_orders', status=status, page = orders.next_num) }}">Вперед</a>
                {% else %}
                    <a class="page-link" aria-disabled="true">Вперед</a>
                {% endif %}
            </li>

        </ul>
    </nav>
{% endblock %}
