{% extends 'order_manager/base.html' %}
{% block header %}
    <title>Order #{{ order.id }}</title>
{% endblock %}

{% block content %}
    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">Order #{{ order.id }}</h1>
        <h2 class="h4 text-gray-900 mb-4">{{ order.name }}</h2>
        <p class="h4 text-gray-900 mb-4">{{ order.description }}</p>
        <p class="h4 text-gray-900 mb-4">Срок: {{ order.deadline }}</p>
        <p class="h4 text-gray-900 mb-4">Статус: {{ order.status }}</p>
        <p class="h4 text-gray-900 mb-4">Цена: {{ order.price }}</p>
        <h6 class="h4 text-gray-900 mb-4">Дополнительный файл:
            {% if order.additional_file_id != None %}
                <a href="data:image/png;base64,{{ order.get_file() }}">Скачать файл</a>
            {% else %}
                Отсутствует
            {% endif %}
        </h6>
        {% if order.customer_id != current_user.id %}
            <p class="h4 text-gray-900 mb-4">Заказчик:
                {% if customer.avatar_file_id != None %}
                    <img width="70" height="70" src="{{ customer.get_avatar() }}" alt="avatar">
                {% else %}
                    <img width="70" height="70" src="../../../static/img/undraw_profile.svg"
                         alt="avatar">
                {% endif %}
                <a href="{{ url_for('order_manager.user_profile', user_id=customer.id) }}">{{ customer.username }}</a>
            </p>
            <br>
            {% if order.status == 'Опубликовано' %}
                <form method="post">
                    {{ take_order_form.csrf_token }}
                    {{ take_order_form.offer(cols="100", rows="10") }}
                    <br>
                    {{ take_order_form.submit_take_order(class="btn btn-primary btn-user") }}
                </form>
            {% elif order.status == 'На выполнении' %}
                <hr>
                <form method="post" enctype="multipart/form-data">
                    {{ complete_order_form.csrf_token }}
                    <div class="form-file form-control-user">
                        {{ complete_order_form.solution_file.label(class="form-file-text") }}
                        {{ complete_order_form.solution_file(class="form-file-input") }}
                        {{ complete_order_form.submit(class="btn btn-primary btn-user") }}
                    </div>
                </form>
            {% elif order.status == 'На проверке' %}
                <h1>Заказ на проверке</h1>
            {% endif %}
        {% elif order.customer_id == current_user.id %}
            <p class="h4 text-gray-900 mb-4">Исполнитель:
                {% if executor.avatar_file_id != None %}
                    <img width="70" height="70" src="{{ executor.get_avatar() }}" alt="avatar">
                {% else %}
                    <img width="70" height="70" src="../../../static/img/undraw_profile.svg"
                         alt="avatar">
                {% endif %}
                <a href="{{ url_for('order_manager.user_profile', user_id=executor.id) }}">{{ executor.username }}</a>
            </p>
            {% if order.status == 'На проверке' %}
                <hr>
                <h6 class="h4 text-gray-900 mb-4">Файл с решением:
                    <a href="data:image/png;base64,{{ order.get_solution_file() }}">Скачать файл</a>
                </h6>
                <form method="post">
                    {{ order_acceptance_form.csrf_token }}
                    {{ order_acceptance_form.submit_accept_order(class="btn btn-primary btn-user") }}
                </form>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
