{% extends 'order_manager/base.html' %}
{% block header %}
    <title>AddTask</title>
{% endblock %}

{% block content %}
    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-12 d-none"></div>
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Добавление заказа</h1>
                                    </div>
                                    <form class="user" method="post" enctype="multipart/form-data">
                                        {{ form.csrf_token }}
                                        <!-- Название работы -->
                                        <div class="form-file form-control-user">
                                            <div class="form-group">
                                                {{ form.name.label }}
                                                {{ form.name(class="form-control form-control-user", placeholer="Название работы") }}
                                            </div>
                                            <!--Специализация работы-->
                                            {{ form.specialization.label(class="form-file-text form-control-user") }}
                                            {{ form.specialization(class="form-select form-control-user") }}
                                            <br>
                                            <!--Тип работы-->
                                            {{ form.type.label(class="form-file-text form-control-user") }}
                                            {{ form.type(class="form-select form-control-user") }}
                                            <!--Загрузка файлов-->
                                            <div class="form-file form-control-user">
                                                {{ form.file.label(class="form-file-text") }}
                                                {{ form.file(class="form-file-input") }}
                                            </div>
                                            <!--Срок работы-->
                                            {{ form.deadline.label(class="form-file-text form-control-user") }}
                                            {{ form.deadline(class="datepicker") }}
                                            <!--Описание работы-->
                                            <div class="form-group">
                                                {{ form.description.label }}
                                                {{ form.description(class="form-control form-control-user") }}
                                            </div>
                                            <!-- Цена работы -->
                                            <div class="form-group">
                                                {{ form.price.label }}
                                                {{ form.price(class="form-control-user") }}
                                            </div>
                                            {{ form.submit(class="btn btn-primary btn-user btn-block") }}
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
{% endblock %}
