{% extends 'order_manager/base.html' %}
{% block header %}
    <title>Preferences</title>
{% endblock %}

{% block content %}
    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-12 d-none"></div>
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Настройки профиля</h1>
                                    </div>
                                    {% if current_user.avatar_file_id != None %}
                                        <img width="100" height="100"
                                             src="data:image/png;base64,{{ current_user.get_avatar() }}"
                                             alt="avatar">
                                    {% else %}
                                        <img width="100" height="100"
                                             src="../../../static/img/undraw_profile.svg"
                                             alt="avatar">
                                    {% endif %}
                                    <form method="post" enctype="multipart/form-data">
                                        {{ form.csrf_token }}
                                        <div class="form-file form-control-user">
                                            {{ form.avatar.label(class="form-file-text") }}
                                            {{ form.avatar(class="form-file-input") }}
                                            {{ form.submit(class="btn btn-primary btn-user") }}
                                        </div>
                                    </form>
                                    <br>
                                    <a href="{{ url_for('order_manager.change_login') }}"
                                       class="btn btn-primary btn-user">
                                        Изменить логин
                                    </a>
                                    <a href="{{ url_for('order_manager.change_email') }}"
                                       class="btn btn-primary btn-user">
                                        Изменить почту
                                    </a>
                                    <a href="{{ url_for('order_manager.change_password') }}"
                                       class="btn btn-primary btn-user">
                                        Изменить пароль
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
{% endblock %}
