{% extends 'order_manager/base.html' %}
{% block header %}
    <title>ChangeDescription</title>
{% endblock %}

{% block content %}
    <form method="post">
        {{ form.csrf_token }}
        <div class="text-center">
            {{ form.description(cols="100", rows="10", placeholder="Добавьте информацию о себе") }}
            <br>
            {{ form.submit(class="btn btn-primary btn-user") }}
        </div>
    </form>
    <a href="{{ url_for('order_manager.profile') }}">
        <button class="btn btn-primary btn-user">Назад</button>
    </a>
{% endblock %}
