{% extends 'order_manager/base.html' %}
{% block header %}
    <title>UserInfo</title>
{% endblock %}

{% block content %}
    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">Информация о пользователе</h1>
        <h4 class=""><img width="70" height="70" src="../../../static/img/undraw_profile.svg"><a href="">
            nagibator228</a></h4>
        <h1 class="h4 text-gray-900 mb-4">Рейтинг: 4.25</h1>
    </div>
    <hr>

    <p class="">Информация</p>


    <!--Отзывы-->
    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">Отзывы</h1>
    </div>
    <div class="card">
        <div class="card-body">

            <h5 class="card-text"><img width="50" height="50" src="../../../static/img/undraw_profile.svg"><a href="">
                nagibator228</a></h5>
            <p class="card-text">Комментарий</p>
            <p class="card-text">Оценка: 4/5</p>
        </div>
    </div>
{% endblock %}
