{% extends 'order_manager/base.html' %}
{% block header %}
    <title>UserProfile</title>
{% endblock %}

{% block content %}
    <div class="text-center">
        <h4 class="">
            {% if user.avatar_file_id != None %}
                <img width="70" height="70" src="data:image/png;base64,{{ current_user.get_avatar() }}"
                     alt="avatar">
            {% else %}
                <img width="70" height="70" src="../../../static/img/undraw_profile.svg"
                     alt="avatar">
            {% endif %}
            <a href="">{{ user.username }}</a></h4>
        <h1 class="h4 text-gray-900 mb-4">Рейтинг: 4.25</h1>
    </div>
    <hr>
    <!-- Информация о пользователе -->
    {% if user.info != None %}
        <div class="text-center">
            <h2>{{ user.info }}</h2>
        </div>
    {% else %}
        <div class="text-center">
            <h2>Описание отсутствует</h2>
        </div>
    {% endif %}
    <br>
    <!--Отзывы-->
    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">Отзывы</h1>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-text">
                {% if user.avatar_file_id != None %}
                    <img width="50" height="50" src="data:image/png;base64,{{ current_user.get_avatar() }}">
                {% else %}
                    <img width="50" height="50" src="../../../static/img/undraw_profile.svg">
                {% endif %}
                <a href="">{{ user.username }}</a></h5>
            <p class="card-text">Комментарий</p>
            <p class="card-text">Оценка: 4/5</p>
        </div>
    </div>
{% endblock %}
